.button-success,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
}

.button-xlarge {
 font-size: 125%;
}

.drawn {
  color: #ed4545;
}

.adjust-align {
  text-align: left;
}

.raffle {
  background-color: rgba(244, 153, 184, 0.30);
  font-family: Lobster, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.raffle-head{
  color: #a7221e;
  text-shadow: -0.1rem 0.15rem 0.3rem #000
}

.body-adjust {
  padding-left: 10px;
}

#content {
  font-family: Lato, sans-serif;
}