%h1 Upload do arquivo das participantes
%form(method="post" enctype='multipart/form-data' action="/raffle")
  %input(type='file' name='contestants')
  %br
  %input.button-success.pure-button(type='submit' value='Sobe!')
