%h2 Upload do arquivo das participantes
%form(method="post" enctype='multipart/form-data' action="/raffle" class="body-adjust")
  %input(type='file' name='contestants')
  %input.button-success.pure-button(type='submit' value='Sobe!')
