%h1.content-subhead.is-center Upload do arquivo das participantes
%form(method="post" enctype='multipart/form-data' action="/raffle" class="body-adjust")
  %input(type='file' name='contestants')
  %br
  %br
  %input.button-success.pure-button(type='submit' value='Sobe!')
