%h1.is-center Vamos ao sorteio ~/o/
%form(method="post" action="/raffle")
  %input.button-success.pure-button.button-xlarge(type='submit' value='Vai!')
  %h1.content-subhead.drawn.highlight= @drawn
  %h2.content-subhead Quem jรก foi sorteado:
  %ol.winners
    - @@drawned.each do |item|
      %li
        = item
