%h1.is-center Vamos ao sorteio ~/o/
%form(method="post" action="/raffle")
  .splash
    %input.button-success.pure-button.button-xlarge(type='submit' value='Vai!')
    %h1.content-subhead.drawn= @drawn
    .adjust-align
      %h2.content-subhead Quem jรก foi sorteado:
      - @@drawned.each do |item|
        %li
          = item
