%h1.content-head.is-center Vamos ao sorteio!!!
%form(method="post" action="/raffle")
  #content-spash.splash
    %input.button-success.pure-button.button-xlarge(type='submit' value='Vai!')
    %br
    %br
    %h1.content-subhead= @drawn
